<div class="container">
  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <hr>

    <mat-card-content>
      <form>
        <div class="form-group">
          <mat-label class="form-group-item"
                      for="user_mail">Mail Adress: </mat-label>
          <input type="text"
                class="input-area"
                placeholder="enter user_mail"
                [(ngModel)]="user.user_mail"
                name="email"
                (keyup.enter)="submitLogin()"
                required>
        </div>

        <div class="form-group">
          <label class="form-group-item"
                  for="password">Password: </label>
          <input type="password"
                class="input-area"
                placeholder="enter password"
                [(ngModel)]="user.user_password"
                name="user_password"
                (keyup.enter)="submitLogin()"
                required>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div class="button-group">
        <span class="error_msg">{{error_msg}}</span>
        <button mat-raised-button
                class="login-button"
                (click)="submitLogin()">
          Login
        </button>
        <button mat-raised-button
                color="primary"
                class="login-button"
                (click)="register()">
          Register
        </button>
      </div>
    </mat-card-actions>

  </mat-card>
</div>
  